@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 267 43% 95%;
    --foreground: 276 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 276 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 276 10% 20%;
    --primary: 274 21% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 274 20% 90%;
    --secondary-foreground: 276 10% 20%;
    --muted: 274 20% 90%;
    --muted-foreground: 276 10% 45%;
    --accent: 16 70% 70%;
    --accent-foreground: 276 10% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 274 21% 85%;
    --input: 274 21% 85%;
    --ring: 274 21% 60%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 276 10% 15%;
    --foreground: 267 43% 95%;
    --card: 276 10% 20%;
    --card-foreground: 267 43% 95%;
    --popover: 276 10% 20%;
    --popover-foreground: 267 43% 95%;
    --primary: 274 21% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 276 10% 25%;
    --secondary-foreground: 267 43% 95%;
    --muted: 276 10% 25%;
    --muted-foreground: 267 43% 80%;
    --accent: 16 70% 70%;
    --accent-foreground: 276 10% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 276 10% 30%;
    --input: 276 10% 30%;
    --ring: 274 21% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
